* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: linear-gradient(180deg, #4c1570, #19035a);
  color: #ffffff;
  padding-bottom: 80px;
}

/* Top Bar */

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo {
  width: 36px;
  height: 36px;
  background: #6c2bd9;
  border-radius: 10%;
  display: grid;
  place-items: center;
  font-weight: bold;
}

/* Banner */
.banner {
  padding: 15px;
}

.banner-box {
  height: 140px;
  background: linear-gradient(135deg, #7c2ff74b, #f107a34b);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-par{
  border: 1px 5px 25px;
  border-radius: 16px;
  background-color: #2c3b6485;
  display: flex;
  align-items: center;
  justify-content: center;

}
/* Alert */
.alert {
  display: flex;
  gap: 10px;
  padding: 15px;
  opacity: 0.85;
  color: rgb(255 255 255 / 40%);
}

/* Menu */
.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 15px;
  gap: 10px;
}
.menu-par{
    border: #0b0f2e;
    padding: auto;
    background-color: #6a696e5b;
    border-radius: 16px;
}
.menu-item {
  background: rgba(137, 141, 167, 0.534);
  border-radius: 10px;
  padding: 15px 5px;
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.623);
  position: relative;
  font-family: sans-serif;

  font-weight: bold;
  
}



/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 15px;
}

.card {
  background: rgba(255,255,255,0.06);
  border-radius: 12px;
  padding: 12px;
  text-align: center;
}

.price {
  margin: 8px 0;
  font-weight: bold;
}

.green {
  color: #1aff8c;
}

/* Market */
.market {
  padding: 15px;
}

.market h2 {
  margin-bottom: 10px;
}

.market-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

/* Bottom Nav */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #120b2a;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}
 
 
canvas {  
    max-width: 900px;
    margin: 30px auto;
   }
#price {
      font-size: 24px;
      font-weight: bold;
    }
  